.popupContainer {
  line-height: normal;
  width: 300px;
  height: 250px;
  border: solid black 2px;
  border-radius: 4px;
  position: absolute;
  left: calc(50% - 151px);
  top: calc(50% - 101px);
  background: white;
}

.popupTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin: 5px;
}

.popupDescription {
  margin: 10px;
}

.popupInput {
  width: 100px;
  margin: 10px;
  margin-left: 100px;
  outline: none;
  border: none;
  border-bottom: solid lightgray 1px;
}

.popupInput:focus {
  border-bottom-color: black;
  transition-duration: 0.6s
}

.popupConfirm {
  width: 150px;
  height: 30px;
  margin-left: calc(50% - 76px);
  background: none;
  border: solid black 1px;
  border-radius: 2px;
  cursor: pointer;
}

.popupConfirm:hover {
  background: lightgray;
  transition-duration: .2s;
}

.exitButton {
  top: 5px;
  font-size: 22px;
  right: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  color: gray;
}

.exitButton:hover {
  color: black;
  transition-duration: 0.3s;
}