@import "loadingStyle.css";
@import "colourerStyle.css";
@import "popup.css";

.pixel {
  border-left: solid gray 1px;
  border-top: solid gray 1px;
  background: transparent;
  float: left;
  user-select: none;
  cursor: url('/icons/cursor.cur'), url('/icons/cursor.cur'), none;
}

body {
  padding-left: 105px;
  padding-top: 1px;
  margin: 0px;
  height: 100vh;
  overflow-x: hidden;
}

.menu {
  position: absolute;
  left: 5px;
  width: 90px;
  height: 90px;
  line-height: normal;
  border: solid black 1px;
}